<h2 class="modal-title">Update Task</h2>
<div class="modal-content">
  <form>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="task.status" name="status">
          <mat-option *ngFor="let status of taskStatuses" [value]="status">{{ status }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Progress</mat-label>
        <mat-select [(ngModel)]="task.progress" name="progress">
          <mat-option *ngFor="let progress of progressOptions" [value]="progress">{{ progress }}%</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="modal-actions">
  <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
