<p>update-task-modal works!</p>
<h2 mat-dialog-title>Update Task</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="task.status" name="status">
        <mat-option *ngFor="let status of taskStatuses" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Progress</mat-label>
      <mat-select [(ngModel)]="task.progress" name="progress">
        <mat-option *ngFor="let progress of progressOptions" [value]="progress">{{ progress }}%</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onUpdate()">Update</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
