<div *ngIf="project">
  <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TeamSync</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <!-- <a class="nav-link" routerLink="/projects">P</a> -->
          <a class="nav-link"mat-icon-button (click)="openTimeZoneConverter()">
            <mat-icon>access_time</mat-icon>
          </a>
          <a class="nav-link" routerLink="/projects">Projects</a>
          <a class="nav-link" (click)="openCreateTaskModal()" style="cursor: pointer;">Add Task</a>
        </div>
      </div>
    </div>
</nav>
  <!-- Project Details -->
  <div class="project-details">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <div class="kanban-board">
      <div class="kanban-column">
        <h3>TODO</h3>
        <div *ngFor="let task of project.tasks | filterByStatus: taskStatus.TODO" class="task-card">
          <h4>{{ task.name }}</h4>
          <p>{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Progress: {{ task.progress }}%</p>
          <p>Deadline: {{ task.deadline | date: 'mediumDate' }}</p>
          <button (click)="openUpdateTaskModal(task)">Update</button>
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
      </div>
      <div class="kanban-column">
        <h3>Ongoing</h3>
        <div *ngFor="let task of project.tasks | filterByStatus: taskStatus.ONGOING" class="task-card">
          <h4>{{ task.name }}</h4>
          <p>{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Progress: {{ task.progress }}%</p>
          <p>Deadline: {{ task.deadline | date: 'mediumDate' }}</p>
          <button (click)="openUpdateTaskModal(task)">Update</button>
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
      </div>
      <div class="kanban-column">
        <h3>Testing</h3>
        <div *ngFor="let task of project.tasks | filterByStatus: taskStatus.TESTING" class="task-card">
          <h4>{{ task.name }}</h4>
          <p>{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Progress: {{ task.progress }}%</p>
          <p>Deadline: {{ task.deadline | date: 'mediumDate' }}</p>
          <button (click)="openUpdateTaskModal(task)">Update</button>
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
      </div>
      <div class="kanban-column">
        <h3>Completed</h3>
        <div *ngFor="let task of project.tasks | filterByStatus: taskStatus.COMPLETED" class="task-card">
          <h4>{{ task.name }}</h4>
          <p>{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Progress: {{ task.progress }}%</p>
          <p>Deadline: {{ task.deadline | date: 'mediumDate' }}</p>
          <button (click)="openUpdateTaskModal(task)">Update</button>
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
      </div>
      <button mat-button color="warn" (click)="onDeleteProject()" class="delete-button">
        Delete Project
      </button>
    </div>
  </div>
</div>