<div *ngIf="project">
  <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TeamSync</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" mat-icon-button (click)="openTimeZoneConverter()">
            <mat-icon>access_time</mat-icon>
          </a>
          <a class="nav-link" routerLink="/dashboard">Back</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- Project Details -->
  <div class="project-details">
    <!-- Button to toggle the People dropdown -->
    <div class="buttons-container">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" (click)="togglepeopledropdown()">
          People
        </button>
        <div *ngIf="showPeopleDropdown" class="dropdown-menu show">
          <ul>
            <li *ngFor="let user of users">
              {{ user.username }}
              {{user.timezone}}
            </li>
          </ul>
        </div>
      </div>
      <button><a class="nav-link" (click)="openCreateTaskModal()" style="cursor: pointer;">Add Task</a></button>

      </div>
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <!-- Dropdown for displaying the list of users -->

    <div class="kanban-board">
      <div class="kanban-column todo">
        <h3>TODO</h3>
        <div *ngFor="let task of project.tasks | filterByStatus: taskStatus.TODO" class="task-card">
          <h4>{{ task.name }}</h4>
          <p>{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Progress: {{ task.progress }}%</p>
          <p>Deadline: {{ task.deadline | date: 'mediumDate' }}</p>
          <p>Assigned To: {{ task.assignedTo }}</p>
          <!-- <p>Project name: {{task.projectId}}</p> -->
          <!-- <button (click)="openUpdateTaskModal(task)">Update</button> -->
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
      </div>
      <div class="kanban-column ongoing">
        <h3>Ongoing</h3>
        <div *ngFor="let task of project.tasks | filterByStatus: taskStatus.ONGOING" class="task-card">
          <h4>{{ task.name }}</h4>
          <p>{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Progress: {{ task.progress }}%</p>
          <p>Deadline: {{ task.deadline | date: 'mediumDate' }}</p>
          <p>Assigned To: {{ task.assignedTo }}</p>

          <!-- <button (click)="openUpdateTaskModal(task)">Update</button> -->
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
      </div>
      <div class="kanban-column testing">
        <h3>Testing</h3>
        <div *ngFor="let task of project.tasks | filterByStatus: taskStatus.TESTING" class="task-card">
          <h4>{{ task.name }}</h4>
          <p>{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Progress: {{ task.progress }}%</p>
          <p>Deadline: {{ task.deadline | date: 'mediumDate' }}</p>
          <p>Assigned To: {{ task.assignedTo }}</p>

          <!-- <button (click)="openUpdateTaskModal(task)">Update</button> -->
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
      </div>
      <div class="kanban-column completed">
        <h3>Completed</h3>
        <div *ngFor="let task of project.tasks | filterByStatus: taskStatus.COMPLETED" class="task-card">
          <h4>{{ task.name }}</h4>
          <p>{{ task.description }}</p>
          <p>Status: {{ task.status }}</p>
          <p>Progress: {{ task.progress }}%</p>
          <p>Deadline: {{ task.deadline | date: 'mediumDate' }}</p>
          <p>Assigned To: {{ task.assignedTo }}</p>

          <!-- <button (click)="openUpdateTaskModal(task)">Update</button> -->
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
      </div>

    </div>
    <button mat-button color="warn" (click)="onDeleteProject()" class="delete-button">
      Delete Project
    </button>
  </div>
</div>