<mat-card class="project-detail-modal">
  <mat-toolbar color="primary" class="toolbar">
    <span>Project Details</span>
    <span class="spacer"></span>
    <!-- <button mat-button color="accent" (click)="openCreateTaskModal()">Add Task</button> -->
    <button mat-raised-button color="warn" class="add-task" (click)="openCreateTaskModal()">Add Task</button>

    <button mat-raised-button color="primary" class="refresh" (click)="refreshComponent()">Refresh</button>
    <button (click)="closeModal()" style="color: black;margin-left: 5px;" class="close-button"> 
      X
    </button>
  </mat-toolbar>

  <mat-card-content class="content">
    <h2 class="project-name">{{ project.name }}</h2>
    <p class="project-description">{{ project.description }}</p>

    <h3 class="tasks-title">Tasks</h3>
    <div *ngFor="let task of project.tasks" class="task-item">
      <mat-card class="task-card">
        <div class="task-header">
          <h4 class="task-name">{{ task.name }}</h4>
          <!-- <button mat-button color="accent" (click)="openUpdateTaskModal(task)">Update</button> -->
          <mat-icon class="delete-icon" (click)="deleteTask(task.id)">delete</mat-icon>
        </div>
        <p>{{ task.description }}</p>
        <p>Status: {{ task.status }}</p>
        <div class="task-progress">
          <mat-progress-spinner
            [value]="task.progress"
            diameter="40"
            strokeWidth="5"
            mode="determinate"
            class="progress-bar">
          </mat-progress-spinner>
          <span>{{ task.progress }}%</span>
        </div>
        <div class="task-footer">
          <p class="deadline">{{ task.deadline | date: 'mediumDate' }}</p>
          <button mat-button color="accent" (click)="openUpdateTaskModal(task)" class="update-button">Update</button>
        </div>
      </mat-card>
    </div>
    <button mat-button color="warn" (click)="onDeleteProject()" class="delete-button">
      Delete Project
    </button>
  </mat-card-content>
</mat-card>
